<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Form</title>

  <!-- Link to CSS -->
  <link rel="stylesheet" href="./stylesheets/style.css">
</head>
<body>
  <div class="container">
    <form action="/create" method="POST" id="loginForm">
      <h2>Create User</h2>
      <input type="text" name="email" placeholder="Email" required>
      <input type="password" name="password" placeholder="Password" required>
      <input type="text" name="name" placeholder="Name">
      <input type="number" name="age" placeholder="Age">
      <button type="submit">Login</button>
    </form>
  </div>

  <!-- Link to JS -->
  <script src="./javascripts/script.js"></script>
</body>
</html>
